# Dependency directories
node_modules/

/dist/*
/package-lock.json
sidecar-launcher-win32-x64/*
logs/wxbot.log
messageTypeTest.json
logs/wxbot.log
logs/wxbot.log
logs/wxbot.log
src/assets/contacts.xlsx
msgStore.json
logs/wxbot.log
assets/contacts.xlsx
logs/wxbot.log
assets/qrcode.png
